<div class="flex flex-col align-middle justify-center h-home m-8">
    <h1 class="font-bold text-3xl text-teal-700 text-center">What is BookHunt?</h1>
    <p class="mt-4 text-base text-center">
        BookHunt is a tool which will allow you to find that book you are looking for.
    </p>
    <p class="mt-2 text-base text-center">This application is possible thanks to Open Library, who provides all the information you
        need to find the book you need.</p>
    <p class="mt-2 text-base text-center">All you need to do is enter any search term in the text field designed especially for you,
        dear reader.</p>
    <p class="mt-2 text-base text-center">Without further ado, welcome to book hunting! </p>
</div>