<div class="relative flex items-center justify-center overflow-hidden w-full h-home">
    <img src="../../../assets/img/background.png" alt="background" class="w-full h-full object-cover hidden md:block">
    <img src="../../../assets/img/background-tablet.png" alt="background" class="w-full h-full object-cover hidden sm:block md:hidden">
    <img src="../../../assets/img/background-mobile.png" alt="background" class="w-full h-full object-cover block sm:hidden">
    <div class="absolute">
        <h1 class="text-white font-bold text-center">It's hunting night</h1>
        <h1 class="th-font text-4xl mt-4 text-white font-bold text-center">What do you feel like?</h1>
        <app-search class="flex w-auto justify-center mt-6"></app-search>
    </div>
</div>