// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$book-hunt-primary: mat.define-palette(mat.$indigo-palette);
$book-hunt-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$book-hunt-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$book-hunt-theme: mat.define-light-theme((color: (primary: $book-hunt-primary,
        accent: $book-hunt-accent,
        warn: $book-hunt-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($book-hunt-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Quattrocento', serif !important;
}

.th-font {
  font-family: 'Quattrocento', serif !important;
}

// Pagination styles
.ngx-pagination {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    border-radius: 0.25rem !important;

    &.current {
      background-color: rgb(13 148 136);
    }

    & a {
      border-radius: 0.25rem !important;
    }
  }

  @media (max-width: 576px) {

    .pagination-previous,
    .pagination-next {
      display: none !important;
    }
  }
}

// Slider styles
.slick-slider {

  .slick-list {
    padding: 0 !important;
  }

  .slick-prev:before,
  .slick-next:before {
    color: white !important;
    font-size: 3rem !important;
  }

  .slick-prev,
  .slick-next {
    z-index: 5 !important;
    height: 3rem;
    width: 3rem;
  }

  .slick-next {
    right: 1rem;
  }

  .slick-prev {
    left: 1rem;
  }

  .slick-slide img {
    height: 60vh;
    object-fit: contain;
    background-color: rgb(209 213 219);
  }
}

.h-home{
  height: calc(100vh - var(--nav-height));
}